
.ipynb_checkpoints/Statistics_Bootcamp_Seth-checkpoint.ipynb
.ipynb_checkpoints/Statistics Bootcamp 4 Solutions-checkpoint.ipynb
.ipynb_checkpoints/Statistics_Bootcamp_Seth-checkpoint.ipynb
.ipynb_checkpoints/Statistics_Bootcamp_Seth_Solutions-checkpoint.ipynb
.DS_Store
